/*CSS for Semester project "Lesen".
Sayoon Yang, Lilian Walters. */

/** Table of Contents

* 1.0 Normalize
* 2.0 Elements
* 3.0 Modal
* 4.0 Navbar
* 5.0 Container(gif)
* 6.0 Audioplayer
* 7.0 Responsive
*/


/**
* 1.0 Normalize
*/


body {
  padding-top : 10em;
  padding-bottom : 5em;
  font-family: 'Oxygen', sans-serif;
  border : solid 5px #000;
  background-color: #fff;
}


p {
  font-family: 'Oxygen', sans-serif;
  font-size : 1em;
}

input[type=email]{
  border: none;
  border-bottom: 5px solid #000;
}

input[type=email]:focus {
  border: none;
  border-bottom: 5px solid #000;
  background-color : #FFE66D;
}

input[type=password]{
  border: none;
  border-bottom: 5px solid #000;
}

input[type=password]:focus {
  border: none;
  border-bottom: 5px solid #000;
  background-color : #FFE66D;
}

a {
  color : #000;
}

a:hover{
  text-decoration : none;
  color : #000;
}

a:active{
  color: #000;
}


/**
* 2.0 Elements
*/

.btn {
  background-color : #fff;
  border : 5px solid #000;
  font-size : 1.3em;
}

.card-group{
  margin-top : 2em;
}

.card.book{
  border : none;
}

.card-body.cover{
  border : 5px solid #000;
  margin : 1em;
}

.col.right{
  border-left : 5px solid #000;
}

.display-4.title{
  text-transform: uppercase;
  margin-bottom : 2em;
}

.dialogbox{
  padding : 2em;
  width : 70%;
  margin : auto;
  position: relative;
  background:linear-gradient(to bottom,#000 50%,transparent 0) 0 0/calc(100% - 20px) 10px no-repeat,
  linear-gradient(to bottom,transparent 50%,#000 0) 0 100%/100% 10px no-repeat,
  linear-gradient(to right,#000 50%,transparent 0) 0 0/10px 100% no-repeat,
  linear-gradient(to right,transparent 50%,#000 0) 100% 20px/10px 100% no-repeat,
  linear-gradient(to top right,transparent 50%,#000 50%,#000 calc(50% + 1px),transparent calc(50% + 2px)) 100% 0/20px 20px no-repeat;
}

.dialogbox:before {
  content: "";
  position: absolute;
  top: 0%;
  right: 0%;
  width: 0px;
  height: 0px;
  border-bottom: 65px solid #FFE66D;
  border-right: 65px solid transparent;
}

.dialogbox:after {
  content: "";
  position: absolute;
  top: 0%;
  right: 0%;
  width: 0px;
  height: 0px;
  border-top: 65px solid #FFF;
  border-left: 65px solid transparent;
}

.form-group{
  padding : 1em;
}


.text-center{
 padding-bottom : 1em;
}




.bookmark-container{
  margin-bottom : 5%;
  display: flex;
  justify-content : space-around;
}


.nav-tabs{
  border-bottom : transparent;
}

.nav-tabs .nav-link.active{
  border-bottom : 3px solid #000;
  border-color : transparent transparent #000;
  color : #000;
}





.profile-photo{
  border-radius: 50%;
}



/**
* 3.0 Modal
*/


.modal-header{
  background-color : #FFE66D;
  border : none;
}

.modal-content{
  border : 5px solid #000;
  background-color : #fff;
  font-family: 'Oxygen', sans-serif;
  text-align :center;
  height : 150%;
}

.modal-title{
  font-size : 4em;
}

/**
* 4.0 Navbar
*/


.navbar {
  border: solid 5px #000;
  background-color : #FFE66D;
}


.navbar-light .navbar-nav .nav-link{
  color: #000;
  font-size: 1.5em;
}

.navbar-toggler {
  border : none;
}


.page-link.left{
  text-align : left;
}

.page-link.right{
  text-align : right;
}

/**
* 5.0 Container(gif)
*/


.grid-container {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(4, 1fr);
  padding: 0px;
}


.static {
  position:absolute;
  background: white;
}

.static:hover {
  opacity:0;
}

.active {
  background: transparent;
}


.player{
  display: flex;
  justify-content : center;
}



.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
    border : 5px solid #000;
}


.recording-Container{
  display : block;
}

#recordingsList{
  list-style : none;
  justify-content : center;
}

#recordingConfirm{
  display: flex;
  justify-content : center;
}

.recording-li {
  padding : 2em;
  border: none;
  display: flex; /* allows align-items to work below */
  justify-content: center; /* Horizontally centers single-line elements */
}

#controls{
  margin : 3em 0 3em 0;
}

#recordButton{
  animation: shadow-pulse-big 1s 1;
}

#stopButton{
  animation: shadow-pulse 1s infinite;
}


.wrapper
{
  padding: 20px;
}

@keyframes shadow-pulse
{
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
  }
}

@keyframes shadow-pulse-big
{
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.1);
  }
  100% {
    box-shadow: 0 0 0 70px rgba(0, 0, 0, 0);
  }
}


/**
* 7.0 audioPlayer
*/

.audio-author{
  position : absolute;
  bottom : -2%;
  left : 8%;
  padding-top : 2%;
}

.audio-cover{
  text-align : center;
}

.audio-player {
  width: 70%;
  position : absolute;
  top : 59%;
  left: 5%;
  z-index : 1;
}
.audio-player i {
  font-size: 5rem;
  display : inline-block;
}

.material-icons {
  color : #FFE66D;
}

.list-group-item{
  visibility: hidden;
}

.audio-progress{
  width : 70%;
  position : absolute;
  top : 57%;
  left : 24.5%;
  margin-top : 85px;
}

.progress {
  overflow: visible;
}

.progress-bar{
  background-color : #000;
}

li.active:before {
  font-family: "Material Icons";
  content: "\e037";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-size: 1.5rem;
}

.ui-slider-handle {
  border-radius: 50%;

}





/**
* 7.0 Responsive
*/



@media only screen and (max-width: 767px) {
  body {
  }

  .grid-container {
    display: block;
  }
}
