/*CSS for Semester project "Lesen".
Sayoon Yang, Lilian Walters. */

/** Table of Contents

* 1.0 Normalize
* 2.0 Elements
* 3.0 Modal
* 4.0 Navbar
* 5.0 Container(gif)
* 6.0 Responsive
*/


/**
* 1.0 Normalize
*/


body {
  padding-top : 10em;
  padding-bottom : 5em;
  font-family: 'Oxygen', sans-serif;
  border : solid 5px #000;
  background-color: #fff;
}


p {
  font-family: 'Oxygen', sans-serif;
  font-size : 1em;
}

input[type=email] {
  border: none;
  border-bottom: 5px solid #000;
}

input[type=email]:focus {
  border: none;
  border-bottom: 5px solid #000;
  background-color : #FFE66D;
}

a {
  color : #4ECDC4;
}

/**
* 2.0 Elements
*/



.dialogbox{
  padding : 2em;
  width : 70%;
  margin : auto;
  position: relative;
  background:linear-gradient(to bottom,#000 50%,transparent 0) 0 0/calc(100% - 20px) 10px no-repeat,
  linear-gradient(to bottom,transparent 50%,#000 0) 0 100%/100% 10px no-repeat,
  linear-gradient(to right,#000 50%,transparent 0) 0 0/10px 100% no-repeat,
  linear-gradient(to right,transparent 50%,#000 0) 100% 20px/10px 100% no-repeat,
  linear-gradient(to top right,transparent 50%,#000 50%,#000 calc(50% + 1px),transparent calc(50% + 2px)) 100% 0/20px 20px no-repeat;
}

.dialogbox:before {
  content: "";
  position: absolute;
  top: 0%;
  right: 0%;
  width: 0px;
  height: 0px;
  border-bottom: 65px solid #FFE66D;
  border-right: 65px solid transparent;
}

.dialogbox:after {
  content: "";
  position: absolute;
  top: 0%;
  right: 0%;
  width: 0px;
  height: 0px;
  border-top: 65px solid #FFF;
  border-left: 65px solid transparent;
}

.form-group{
  padding : 1em;
}

.text-center{
  padding : 1em;
}

.btn {
  background-color: #fff;
  border : 5px solid #000;
  font-size : 1.3em;
}

/**
* 3.0 Modal
*/


.modal-header{
  background-color : #FFE66D;
  border : none;
}

.modal-content{
  border : 5px solid #000;
  background-color : #fff;
  font-family: 'Oxygen', sans-serif;
  text-align :center;
  height : 150%;
}

.modal-title{
  font-size : 4em;
}

/**
* 4.0 Navbar
*/


.navbar {
  border: solid 5px #000;
  background-color : #FFE66D;
}


.navbar-light .navbar-nav .nav-link{
  color: #000;
  font-size: 1.5em;
}

.navbar-toggler {
  border : none;
}

/**
* 5.0 Container(gif)
*/


.grid-container {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(4, 1fr);
  padding: 0px;
}


.static {
  position:absolute;
  background: white;
}

.static:hover {
  opacity:0;
}


.player{
  margin : auto;
  text-align : center;
}

#recordingsList{
  list-style : none;
}

/**
* 6.0 Responsive
*/



@media only screen and (max-width: 767px) {
  body {
  }

  .grid-container {
    display: block;
  }
}
